body {
    margin: 0;
}

.text_back_kolor-radius-size_text {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d9d9d9;
    color: #828282;
    border-radius: 10px;
    font-size: 30px;
}

.father {
    width: 80vw;
    height: 100vh;
    margin: auto;
}

.a {
    height: 20vh;
    margin-bottom: 10px;
}

.box_content {
    display: flex;
}

.cde {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.b {
    height: 20vh;
    width: 60vw;
    margin-right: 10px;
    margin-bottom: 10px;
}

.box {

    height: 30vh;
    width: 19vw;

}

.f {
    width: 20vw;
}

@media screen and (max-width: 1000px) {
    .a {
        height: 10vh;
    }

    .box_content {
        flex-direction: column;
    }

    .b {
        width: 80vw;
        height: 30vh;
    }

    .cde {
        justify-content: space-around;
    }

    .box {
        height: 15vh;
        width: 15vw;
    }

    .f {
        width: 80vw;
        height: 10vh;
        margin-top: 10px;
    }
}